
        .sidebar .nav-item {
            cursor: pointer;
            color: #04649C;
            background-color: #04649C;
            border-color: #04649C;
            
        }

        

        
   